<div class="modal fade" id="stockModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockModalLabel">Termék mennyiség</h5>

                <!-- data-dismiss="modal"  -->
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

<!--STOCK UPDATE FORM-->

            <form action="/stock_update" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="count">Mennyiség</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="number" id="count" name="count" value="0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Mégsem</button>
                    <button type="submit" class="btn btn-primary" onclick="hideModal()">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Megnevezés</th>
                <th class="text-center">Mennyiség</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>

<!--ACTIVE STOCK FORM-->

            {{#each stockArr}}
            <form action="/active_stock" method="post">
            <tr>
                <th class="text-center" id="id"><input type="hidden" name="id" value="{{this.rowid}}">{{this.rowid}}</th>
                <td class="text-center" id="name"><input type="hidden" name="name" value="{{this.name}}">{{this.name}}</td>
                <td class="text-center" id="count"><input type="hidden" name="count" value="{{this.count}}">{{this.count}}</td>
                <td class="text-center">
                    <button type="submit" class="btn btn-secondary" name="{{this.name}}" onclick="nstock(this.name)"
                        data-id={{this.rowid}}>Szerkesztés</button>
                </td>
            </tr>
            </form>
            {{/each}}

        </tbody>
    </table>
</div>

{{> footer }}


<script>
    let allElementsArr = [];
    let name = "";
    let id = 0;

    function nstock(theName) {
        document.getElementById('stockModalLabel').innerHTML = theName + ' módosítás'

        id = parseInt(event.target.dataset.id)
        name = theName
        $('#stockModal').modal('show')
    }


//    function saving() {
//        let cnt = document.getElementById('count').value
//        const data = `${id},${name},${cnt}`

//        console.log('data:-', data)

//        fetch(`http://localhost:3000/stock_update/${data}`, { method: 'PUT' })
//        .then(response => {
//            return response
//        })
//        .then(data => {
//            console.log('response: ',data)
//        })

//        document.getElementById('count').value = 0
//        $('#stockModal').modal('hide')
//    }



    function hideModal(){
        $('#stockModal').modal('hide')
    }
</script>


<!-- ha kötőjellel megy az id, mint data-id
evemt.target.dataset.id -->