<div class="modal fade" id="productEditModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productEditModalLabel">Termék szerkesztése</h5>

                <!-- data-dismiss="modal"  -->
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <!--PRODUCT EDIT FORM-->

            <form action="/toedit" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="prodId">ID</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="number" id="prodId" value=3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="prodName">Megnevezés</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="text" id="prodName" value="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="prodCategory">Csoport</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="text" id="prodCategory" value="abc">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- data-dismiss="modal"  onclick="saving()"-->
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Mégsem</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="productDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="productDeleteModalLabel">Termék törlése</h5>

                <!-- data-dismiss="modal"  -->
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>



            <!--PRODUCT DELETE FORM-->

            <form action="/del" method="post">
                <div class="modal-body">
                    <div class="row" style="height: 50px;">
                        <div class="col-12 text-center text-primary">
                            <h6>Valóban szeretné törölni ezt a terméket ?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="prod-Id">ID</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="number" id="prod-Id" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="prod-Name">Megnevezés</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="text" id="prod-Name" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="prod-Category">Csoport</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="text" id="prod-Category" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- data-dismiss="modal"  onclick="saving()"-->
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Mégsem</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#each items}}
<tr>
    <th class="text-center" id="p_thid">
        <input type="hidden" id="p_id" name="p_id" value="{{this.rowid}}">{{this.rowid}}</th>
    <td class="text-center">
        <input type="hidden" id="p_name" name="p_name" value="{{this.name}}">{{this.name}}</td>
    <td class="text-center">
        <input type="hidden" id="p_category" name="p_category"value="{{this.category}}">{{this.category}}</td>
    <td class="text-center">
        <button type="button" class="btn btn-info" onclick="editing()"
            data-id={{this.id}}>Szerkeszt</button>
        <button type="button" class="btn btn-danger" onclick="deleting()" 
            data-id={{this.id}}>Törlés</button>
    </td>
</tr>
{{/each}}

<script>
    function editing() {
        document.getElementById('prodId').value = document.getElementById('p_id').value
        document.getElementById('prodName').value = document.getElementById('p_name').value
        document.getElementById('prodCategory').value = document.getElementById('p_category').value

        $('#productEditModal').modal('show')
    }

    function deleting() {
        document.getElementById('prod-Id').value = document.getElementById('p_id').value
        document.getElementById('prod-Name').value = document.getElementById('p_name').value
        document.getElementById('prod-Category').value = document.getElementById('p_category').value

        $('#productDeleteModal').modal('show')
    }
</script>